p {
    font-size: larger;
}

table, td, th {
    border: 1px solid white;
    text-align: center;
    font-size: larger;
}

table {
    border-collapse: collapse;
    width: 50%;
    position: relative;
    left: 25%;

}

td {
    height: 30px;
}

tr:first-child {
    height: 70px;
}

tr:nth-child(even) {
    background-color: rgba(188,188,188,0.7);
}

tr:nth-child(odd) {
    background-color: rgba(112,112,112,0.85);
}

th {
    background: rgba(0,0,0,0.65);
}

td:first-child, th:first-child {
    text-align: left;
    padding-left: 15px;
    width: 50%;
}

tr {
    height: 40px;
}